.main {
    background-color: #feeed6;
    color: #646464;
    padding: 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.header {
    font-size: 24px;
    font-family: inherit;
    margin: 0 0 5px;
    text-transform: uppercase;
}

p {
    margin: 10px;
    line-height: 1.25;
    text-align: justify;
}

.general-text {
    text-indent: 20px;
}

.text-blue {
    color: #378db2;
    font-weight: bold;
}

.text-through {
    text-decoration: line-through;
}
