.container {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #646464;
    max-width: 740px;
    margin: 0 auto;
}

.main {
    background-color: #feeed6;
    padding: 0 18px 15px;
}

.header {
    font-size: 24px;
    font-family: inherit;
    margin: 5px 18px;
}

.label {
    font-weight: bold;
    margin: 18px 0 10px;
    display: inline-block;
}

.input {
    border: 0;
    padding: 5px;
    font-family: inherit;
    font-size: inherit;
    height: 34px;
    width: 100%;
    box-sizing: border-box;
}

.textarea {
    min-height: 25px;
    resize: vertical;
    height: 115px;
}

.note {
    margin-top: 20px;
    margin-bottom: 5px;
}

.button {
    background: #378db2;
    color: white;
    border: 0;
    padding: 10px;
    float: right;
    font-size: inherit;
    font-weight: bold;
}

.button:hover {
    background-color: #55cdcd;
}

.spacer {
    clear: both;
}
