.main {
    font-family: Helvetica, Arial, sans-serif;
    padding: 25px;
    background: aliceblue;
}

.header {
    font-size: 24px;
    font-family: inherit;
    margin: 10px 0;
}

.label {
    margin: 15px 0 5px;
    display: inline-block;
}

.output {
    font-weight: bold;
}

.input {
    padding: 5px;
}

.convert-button {
    background: #378db2;
    color: white;
    border: 0;
    padding: 10px;
    font-weight: bold;
    margin: 15px 0;
}

.convert-button:hover {
    background-color: #55cdcd;
}
