.main {
    background-color: #feeed6;
    color: #646464;
    padding: 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

table {
    border-collapse: collapse;
    font-family: Helvetica, Arial, sans-serif;
}

tr, td {
    border: 1px solid #d2d2d2;
    padding: 5px;
}

thead {
    background-color: #3498db;
    color: white;
    font-weight: bold;
}

tbody tr:nth-child(odd) {
    background-color: #eeeeee;
}
